In [5]:
import re

In [6]:

text = 'My id number is [G203_5A]'
text

'My id number is [G203_5A]'

In [7]:

result = re.findall('a', text)
result

[]

In [8]:

result = re.findall('A', text)
result

['A']

In [9]:

result = re.findall('[a-z]', text)
result

['y', 'i', 'd', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's']

In [14]:
text

'My id number is [G203_5A]'

In [12]:

result = re.findall('[a-z]+', text)
result

['y', 'id', 'number', 'is']

In [11]:

result = re.findall('[A-Z]', text)
result

['M', 'G', 'A']

In [18]:
text

'My id number is [G203_5A]'

In [17]:
result = re.findall('[a-zA-Z0-9]+', text)
result

['My', 'id', 'number', 'is', 'G203', '5A']

In [19]:

result = re.findall('[^a-zA-Z0-9]', text)
result

[' ', ' ', ' ', ' ', '[', '_', ']']

In [23]:
result = re.findall('[\w]', text)
result

['M',
 'y',
 'i',
 'd',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 'i',
 's',
 'G',
 '2',
 '0',
 '3',
 '_',
 '5',
 'A']

In [22]:
result = re.findall('[\w]+', text)
result

['My', 'id', 'number', 'is', 'G203_5A']

In [25]:
text

'My id number is [G203_5A]'

In [26]:

pattern = re.compile("김진\w")
brother = pattern.findall(text)
brother

[]

In [29]:
text = "A sky, a dragonfly and a butterfly!!!!!"

In [30]:
pattern = re.compile("\w+fly")
pattern.findall(text)

['dragonfly', 'butterfly']

In [31]:
text = """
    010-5670-3847   # space, -, . => []
    010 5670 3847
    010.5670 3847
"""

In [33]:

pattern = re.compile("\d{3}[ -.]?\d{4}[ -.]?\d{4}")

In [34]:
pattern.findall(text)

['010-5670-3847', '010 5670 3847', '010.5670 3847']

In [35]:
text = """
    010-5670-3847   # space, -, . => []
    옛날에는 011-1052-3847 이랬는데..
    010 5670 3847
    010.-5670 3847
    사는동네가 자이아파트 516동512호
    그리구, 사무실번호는 02-360-4047이고
    우편번호는 100-791, 청파로 463번지
    
"""

In [38]:
text = """
    김찬영 020822-3069110
    김준영 040825-3069115
    김채영 110715-4063111
"""
pattern = re.compile("\d{6}-?\d{7}")
pattern.findall(text)
['020822-3069110', '040825-3069115', '110715-4063111']

['020822-3069110', '040825-3069115', '110715-4063111']

In [39]:
pattern = re.compile("\d{6}-\d{7}")

In [40]:
pattern = re.compile("(?P<birth>\d{6})-(?P<secret>\d{7})")

In [41]:
pattern.findall(text)

[('020822', '3069110'), ('040825', '3069115'), ('110715', '4063111')]

In [42]:
result = pattern.sub("\g<birth>-*******", text)
print(result)

    김찬영 020822-*******
    김준영 040825-*******
    김채영 110715-*******

In [43]:
pattern = re.compile("(?P<name>\w{3}) (?P<birth>\d{6})-(?P<secret>\d{7})")

In [44]:
pattern.findall(text)

[('김찬영', '020822', '3069110'),
 ('김준영', '040825', '3069115'),
 ('김채영', '110715', '4063111')]

In [46]:
result = pattern.sub("\g<name>(\g<birth>-*******)", text)
print(result)

    김찬영(020822-*******)
    김준영(040825-*******)
    김채영(110715-*******)

In [47]:
pattern = re.compile("(?P<name>\w{3}) (?P<birth>\d{6})-(?P<secret>\d{7})")
pattern.findall(text)

[('김찬영', '020822', '3069110'),
 ('김준영', '040825', '3069115'),
 ('김채영', '110715', '4063111')]

In [48]:
result = pattern.sub("\g<name>(\g<birth>-*******)", text)
print(result)

    김찬영(020822-*******)
    김준영(040825-*******)
    김채영(110715-*******)

In [49]:
result = pattern.sub("\g<name>(\g<birth>-*******)", text)
print(result)

    김찬영(020822-*******)
    김준영(040825-*******)
    김채영(110715-*******)